<% if flash[:error] %>
<%= flash[:error] %>
<% end %>

<h3 class="my-3 font-weight-bold">Log In</h3>

<%= form_for (:user) do |f| %>

<div class="form-group">
  <%= f.label :username %>
  <%= f.text_field :username, class: "form-control-sm" %>
  <br><br>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control-sm" %>
  <br><br>
  <%= f.submit "Log In" %>
</div>
  
<% end %>


