<h1>Welcome To Your Brew Bank <%= @user.id %>!</h1>

<%= link_to "Log Out", logout_path, method: :delete %>

<% @user.beers.each do |beer| %>
  <div> 
    <p> Beer: <%= beer.name %> </p>
    <p> Brewer: <%= beer.brewer %></p>
    <p> Alcohol: <%= beer.alcohol %>%</p>
    <p> Description: <%= beer.description %></p><br>
  </div>
<% end %>