<%= render partial: 'layouts/errors', locals: {object: @beer}  %>
<%= form_for(@beer) do |f| %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control-sm" %>
  </div><br>

  <div class="form-group">
    <%= f.label :brewer %><br>
    <%= f.text_field :brewer, class: "form-control-sm" %>
  </div><br>
  
  <div class="form-group"><br>
    <%= f.label "Alcohol %" %><br>
    <%= f.number_field :alcohol, placeholder: "e.g., 4.9", step: :any, class: "form-control-sm" %>
  </div><br>
  
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control-lg" %>
  </div><br>

  <div class="form-group">
      <%= f.label "Category" %><br>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: "Select A Category"}, {class: "dropdown-item col-2"})  %>
  </div><br>
 
  <p> Or Add A New Category: </p>
  <div class="form-group">
    <%= f.fields_for :category do |category| %>
      <%= category.label :name %><br>
      <%= category.text_field :name, class: "form-control-sm" %>
    <% end %>
  </div>
  <br>

  <%= f.submit 'Save Beer', class: "btn btn-primary" %>

<% end %>