<%= render partial: 'layouts/errors', locals: {object: @beer}  %>
<%= form_for(@beer) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>

  <div>
    <%= f.label :brewer %>
    <%= f.text_field :brewer %>
  </div><br>
  
  <div>
    <%= f.label :alcohol %>
    <%= f.number_field :alcohol, step: :any %>
  </div><br>
  
  <div>
    <%= f.label :description %>
    <%= f.text_field :description, size: "25x10" %>
  </div><br>
  
  <p> Select a Category that already exists: </p>
  <div>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: 'Select One'%>
  </div><br>

  <p> Or Add A New Category: </p>
  <div>
    <%= f.fields_for :category do |cat| %>
      <%= cat.label :name %>
      <%= cat.text_field :name %>
    <% end %>
  </div>
  <br>
  <%= f.submit 'Add Beer' %>

<% end %>