<h1 class="my-3 font-weight-bold"> <%= @beer.name %> </h1>
Category: <%= @beer.category.name %><br>
Alcohol: <%= @beer.alcohol %>%<br>
<%= @beer.description %><br>

<h2 class="my-3 font-weight-bold">Reviews for: <%= @beer.name %></h2>
<% @beer.reviews.each do |review| %>
  <div>
    <p><%= link_to review.title, review_path(review.id) %></p>
    <p> Rating: <%= review.rating %></p>
    <p> <%= review.content %></p><br>
    <% end %>
  </div>

<%= link_to "Review This Beer", new_beer_review_path(@beer.id) %>