<%= form_for(@review) do |f| %>
<% if params[:beer_id] %> 
  <%= f.hidden_field :beer_id %>
<% else %>
  <div class="form-group row col-10"> 
    <%= f.collection_select(:beer_id, Beer.all, :id, :name_and_brewer,
    { prompt: "Select A Beer to Review"}, { size: 10, class: "custom-select" }) %>
  </div>
 <% end %><br>

  <div class="form-group">
    <%= f.text_field :title, placeholder: "Add A Title...", class: "form-control-sm" %>
  </div><br>

  <div class="form-group">
    <p>Rating: (1 - 5)</p>
    <%= f.number_field :rating, min:0, max:5, class: "form-control-sm" %>
  </div><br>

  <div class="form-group row col-10">
    <%= f.text_area :content, placeholder: "Write Your Review Here...", class: "form-control" %>
  </div><br>

  <%= f.submit 'Save Review', class: "btn btn-success btn-sm" %>

<% end %>