<h2 class="my-3 font-weight-bold"> <%= review_index_header(@beer) %> </h2>

<% if flash[:error] %>
  <div class="bg-warning text-white"> 
    <p class="my-3 font-weight-bold text-center"> <%= flash[:error] %> </p>
  </div>
<% end %><br>

<% @reviews.each do |review| %>  
  <ul class="list-group">
    <li class="list-group-item">
      <p class="font-weight-bold"><%= review.beer.name %> </p>
      <p> <%= link_to review.title, review_path(review.id) %> </p>
      <p> Rating: <%= review.rating %> </p>
      <p> Reviewed by <%= review.user.username %> at <%= review.posted %> </p><br>
    </li>  
  </ul>
<% end %>
