<br><h2 class="my-3 font-weight-bold"><%= @review.user.username %>'s review for <%= @review.beer.brewer %>'s <%= @review.beer.name %></h2>

<div class="container"><br>
  <p class="font-weight-bold"> <%= @review.title %> </p>
  <p> Rating: <%= @review.rating %> Stars </p>
  <p> Content: <%= @review.content %> </p>
  <%= link_to 'Edit This Review', edit_review_path if authorized?(@review) %>
</div>


