<h1> <%= @review.user.username %>'s review for <%= @review.beer.brewer %>'s <%= @review.beer.name %> </h1><br>

Title: <%= @review.title %><br>
You Rated: it <%= @review.rating %> Stars<br>
Content: <%= @review.content %><br>
<%= link_to 'Edit This Review', edit_review_path if authorized?(@review) %>


